PORT=3003
NODE_ENV=production

# Bsale
BSALE_ACCESS_TOKEN=tu_token_bsale

# Shopify (Moreka Shop)
SHOPIFY_SHOP_DOMAIN=morekashop1.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_tu_token
SHOPIFY_WEBHOOK_SECRET=tu_secreto_webhook
